@media only screen and (max-width: 540px) {
    .about-text{
        padding: 0;
        margin-top: 0;
    }
    .service .container .card{
        margin-top: 13%;
    }
}
@media only screen and (min-width:541px){
    .service .container .card{
        margin-top: 13%;
    }
}